<div *ngIf="order && checkoutSummary">
    <!-- If has coupon and changed box -->
    <div *ngIf="checkoutSummary?.coupon || checkoutSummary?.promo">
        <div class="row" *ngIf="showMore">
            <p *ngIf="order.paymentPlan != 0" class="col-8 d-flex justify-content-start">
                <span *ngIf="order.orderHistory[0]">
                    {{order.orderHistory[0].order.boxName}} subscription
                </span>
                <span *ngIf="!order.orderHistory[0]">
                    {{order?.boxName}} subscription
                </span>
            </p>
            <p *ngIf="order.paymentPlan == 0" class="col-8 d-flex justify-content-start">
                {{order.boxName}}
            </p>
            <p class="col-4 d-flex justify-content-end">
                <span *ngIf="order.history">
                    {{order.history[0].checkoutSummary.subTotal / 100 |
                    currency:'EUR':'symbol':'1.2-2'}}
                </span>
                <span *ngIf="!order.history">
                    {{checkoutSummary.subTotal / 100 | currency:'EUR':'symbol':'1.2-2'}}
                </span>
            </p>
            <p *ngIf="order.products.extraProducts?.extraPrice" class="col-8 d-flex justify-content-start">
                Extra personalisation
            </p>
            <p *ngIf="order.history && order.products.extraProducts?.extraPrice"
                class="col-4 d-flex justify-content-end">
                {{order.history[0].order.products.extraProducts?.extraPrice / 100 |
                currency:'EUR':'symbol':'1.2-2'}}
            </p>
            <p *ngIf="!order.history && order.products.extraProducts?.extraPrice"
                class="col-4 d-flex justify-content-end">
                {{order.products.extraProducts?.extraPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
            </p>
            <p class="col-6 d-flex justify-content-start">
                Shipping
            </p>
            <p class="col-6 d-flex justify-content-end">
                <span *ngIf="order.history">
                    {{(order.paymentPlan * order.history[0].checkoutSummary.shippingPrice) / 100
                    | currency:'EUR':'symbol':'1.2-2'}}
                </span>
                <span *ngIf="!order.history">
                    {{(order.paymentPlan * checkoutSummary.shippingPrice) / 100 |
                    currency:'EUR':'symbol':'1.2-2'}}
                </span>
            </p>
            <p *ngIf="checkoutSummary.promo" class="col-9 d-flex justify-content-start">
                {{checkoutSummary.promo?.checkoutDescription.en}}
            </p>
            <p *ngIf="checkoutSummary.promo?.price" class="col-3 d-flex justify-content-end" style="float: right">
                - {{checkoutSummary.promo?.price / 100 | currency:'EUR':'symbol':'1.2-2'}}
            </p>
            <p *ngIf="checkoutSummary.coupon?.price" class="col-9 d-flex justify-content-start">
                Coupon: <span class="ml-1" #tooltip="matTooltip"
                    matTooltip="{{checkoutSummary.coupon?.id}} / {{checkoutSummary.coupon?.discount}}% discount">
                    {{checkoutSummary.coupon?.name}}</span>
            </p>
            <p *ngIf="checkoutSummary.coupon?.price" class="col-3 d-flex justify-content-end">
                - {{checkoutSummary.coupon?.price / 100 | currency:'EUR':'symbol':'1.2-2'}}
            </p>
            <p class="col-12 d-flex justify-content-end">
                ------------
            </p>
        </div>
    </div>
    <div *ngIf="checkoutSummary?.coupon || checkoutSummary?.promo" class="row">
        <p class="col-9 d-flex justify-content-start">
            <span>
                Grand Total (first payment)
                <i *ngIf="checkoutSummary.coupon" class="ml-2 fas fa-info-circle" #tooltip="matTooltip"
                    (click)="showMore = !showMore" matTooltip="Coupon used: {{checkoutSummary.coupon?.id}}">
                </i>
                <i *ngIf="checkoutSummary.promo && !checkoutSummary.coupon" class="ml-2 fas fa-info-circle"
                    (click)="showMore = !showMore">
                </i>
            </span>
        </p>
        <p *ngIf="checkoutSummary.coupon" class="col-3 d-flex justify-content-end">
            {{checkoutSummary.coupon.checkoutPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p *ngIf="checkoutSummary.promo  && !checkoutSummary.coupon" class="col-3 d-flex justify-content-end">
            {{checkoutSummary.promo.checkoutPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p class="col-12 d-flex justify-content-end">
            ------------------------
        </p>
    </div>
    <!-- Default -->
    <div class="row mb-3">
        <p *ngIf="order?.paymentPlan != 0" class="col-8 d-flex justify-content-start">
            <span *ngIf="order.history">
                {{order.history[0].order.boxName}} subscription
            </span>
            <span *ngIf="!order.history">
                {{order?.boxName}} subscription
            </span>
        </p>
        <p *ngIf="order?.paymentPlan == 0" class="col-8 d-flex justify-content-start">
            {{order.boxName}} box
        </p>
        <p class="col-4 d-flex justify-content-end">
            {{checkoutSummary.subTotal / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p *ngIf="order?.products.extraProducts?.extraPrice" class="col-8 d-flex justify-content-start">
            Extra personalisation
        </p>
        <p *ngIf="order?.products.extraProducts?.extraPrice" class="col-4 d-flex justify-content-end">
            {{order?.products.extraProducts?.extraPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p *ngIf="checkoutSummary.referral" class="col-8 d-flex justify-content-start">
            <span *ngIf="checkoutSummary.referral.discount">
                {{order?.checkoutSummary?.referral.discount}}% discount from {{checkoutSummary?.referral.referrer |
                titlecase}}
            </span>
            <span *ngIf="!checkoutSummary.referral.discount">
                Free box from
                <a [routerLink]="['/customers/' + checkoutSummary?.referral.uid]">{{checkoutSummary?.referral.name | titlecase}}</a>
            </span>
        </p>
        <p *ngIf="checkoutSummary.referral" class="col-4 d-flex justify-content-end">
            <span *ngIf="checkoutSummary.referral.discount">
                - {{checkoutSummary.referral.price / 100 | currency:'EUR':'symbol':'1.2-2'}}
            </span>
            <span *ngIf="!checkoutSummary.referral.discount">
                - {{checkoutSummary.subTotal / 100 | currency:'EUR':'symbol':'1.2-2'}}
            </span>
        </p>
        <p *ngIf="checkoutSummary.points" class="col-8 d-flex justify-content-start">
            Box claimed with DMP ({{checkoutSummary.points.discount}}%)
        </p>
        <p *ngIf="checkoutSummary.points" class="col-4 d-flex justify-content-end">
            - {{checkoutSummary.points.discountPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p class="col-6 d-flex justify-content-start">
            Shipping
        </p>
        <p class="col-6 d-flex justify-content-end">
            {{(order?.paymentPlan * checkoutSummary.shippingPrice) / 100 |
            currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p class="col-12 d-flex justify-content-end">
            ------------
        </p>
        <p class="col-8 d-flex justify-content-start">
            <span *ngIf="order?.paymentPlan != '1'">
                Grand Total
            </span>
            <span *ngIf="order?.paymentPlan == '1'">
                Grand Total (p/m)
            </span>
        </p>
        <p *ngIf="!checkoutSummary.referral && !checkoutSummary.points" class="col-4 d-flex justify-content-end">
            {{checkoutSummary.checkoutPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
        <p *ngIf="checkoutSummary.referral" class="col-4 d-flex justify-content-end">
            <span *ngIf="checkoutSummary.referral.discount">
                {{checkoutSummary.referral.checkoutPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
            </span>
            <span *ngIf="!checkoutSummary.referral.checkoutPrice">
                {{(order?.paymentPlan * checkoutSummary.checkoutPrice) / 100 |
                currency:'EUR':'symbol':'1.2-2'}}
            </span>
        </p>
        <p *ngIf="checkoutSummary.points" class="col-4 d-flex justify-content-end">
            {{checkoutSummary.points.checkoutPrice / 100 | currency:'EUR':'symbol':'1.2-2'}}
        </p>
    </div>
    <div *ngIf="order?.paymentPlan != 0" class="row">
        <div *ngIf="order?.paymentDetails.paymentMethod" class="col-12 col-md-6">
            <h6>Payment method</h6>
            <p class="mb-4">
                {{ order?.paymentDetails.paymentMethod }}
            </p>
        </div>
        <div class="col-12 col-md-6">
            <h6>Payment Plan</h6>
            <p class="mb-4">
                <span *ngIf="order?.paymentPlan == 1">
                    Monthly
                </span>
                <span *ngIf="order?.paymentPlan > 1">
                    {{ order?.paymentPlan }} months
                </span>
            </p>
        </div>
    </div>
</div>