<!-- Default dialog -->
<h2 *ngIf="!savingState" mat-dialog-title>
    <div *ngIf="editType == 'pause'">
        Pause subscription
    </div>
    <div *ngIf="editType == 'cancel'">
        Cancel subscription
    </div>
</h2>
<div *ngIf="!savingState" mat-dialog-content>
    <div *ngIf="editType == 'pause'">
        <p>Select the amount of deliveries you want to pause the subscription.<br>
            This cannot be changed again until the pausing period is over.
        </p>
        <mat-form-field class="mt-2 col-12 d-flex justify-content-center">
            <mat-select placeholder="Select amount of deliveries" [(ngModel)]="type"
                (ngModelChange)="onSelectChanged()">
                <mat-option *ngFor="let number of months" [value]="number">
                    <span *ngIf="number==1">1 delivery</span>
                    <span *ngIf="number!=1">{{number}} deliveries</span>
                </mat-option>
            </mat-select>
            <mat-error>You must make a selection.</mat-error>
        </mat-form-field>
        <hr>
        <mat-checkbox [(ngModel)]="notifySlack" 
            style="font-family: Futura, Lato, Helvetica Neue, Helvetica, Arial, sans-serif; color: #545454;">
            Notify this change to DeMonth Slack.
        </mat-checkbox>
        <p>Subscription will resume on: {{nextDeliveryDate | date:'dd-MM-yyyy' }}</p>
    </div>
    <div *ngIf="editType == 'cancel'">
        <p style="color: red" *ngIf="lastDateCheck != null && lastDateCheck < thresholdDate">
            The next delivery is within 5 days ({{cancelData.lastDeliveryDate | date:'d MMM yyyy'}}).<br>
            Cancel subscription directly or after the next delivery?
        </p>
        <mat-radio-group *ngIf="lastDateCheck != null && lastDateCheck < thresholdDate"
            [(ngModel)]="cancelPlan">
            <mat-radio-button [value]="cancelPlanOptions[0]" class="mr-2">
                Directly
            </mat-radio-button>
            <mat-radio-button [value]="cancelPlanOptions[1]">
                After next delivery
            </mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Cancel reason</mat-label>
            <textarea matInput
                placeholder="Enter a reason for cancelation..."
                [(ngModel)]="cancelReason" required></textarea>
            <mat-error *ngIf="errorReason">Enter a cancel reason.</mat-error>
        </mat-form-field>
        <hr>
        <mat-checkbox [(ngModel)]="notifySlack" 
            style="font-family: Futura, Lato, Helvetica Neue, Helvetica, Arial, sans-serif; color: #545454;">
            Notify this change to DeMonth Slack.
        </mat-checkbox>
    </div>
</div>
<!-- Saving state -->
<h2 *ngIf="savingState && !loadingDone" mat-dialog-title>Saving changes...</h2>
<div *ngIf="savingState && !loadingDone" mat-dialog-content>
    <div class="col-12 d-flex justify-content-center">
        <mat-spinner></mat-spinner>
    </div>
    <p class="col-12 d-flex justify-content-center">Please wait...</p>
</div>
<!-- Saved state -->
<h2 *ngIf="loadingDone" mat-dialog-title>Changes saved!</h2>
<div *ngIf="loadingDone" mat-dialog-content>
    <p *ngIf="editType == 'pause'" class="col-12 d-flex justify-content-center">
        Subscription will resume on {{ nextDeliveryDate | date:'d MMMM yyyy'}}.
    </p>
</div>
<!-- Actions -->
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button *ngIf="!loadingDone" (click)="onCloseClick()" [disabled]="savingState">Cancel</button>
    <button mat-raised-button  color="primary" *ngIf="!savingState" (click)="pauseCancelSubscription()">Save</button>
    <button mat-button *ngIf="loadingDone" [mat-dialog-close]="dialogData">Close</button>
</div>