<div class="row mb-3">
    <div class="col-12 col-md">
        <h5 class="m-0"><b>Sign in</b></h5>
    </div>
</div>
<div class="example-container">
    <button mat-raised-button class="google-button" (click)="googleSignIn()">
        <i class="fab fa-google fa-2x mr-1"></i>
        Sign in with Google
    </button>
    <div class="row mt-2 mb-2 pl-4">
        <hr class="col">
        <h6 class="col-auto pt-1"> or </h6>
        <hr class="col">
    </div>
    <form [formGroup]="signInFormGroup">
        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                    <mat-label>E-mail</mat-label>
                    <input matInput name="email" autocomplete="email" formControlName="email" required>
                    <mat-icon class="primary-color" matPrefix style="margin-right: 5px;">email</mat-icon>
                    <mat-error *ngIf="signInEmailFormControl.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error *ngIf="signInEmailFormControl.hasError('pattern')">
                        Please enter a valid e-mail address
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" class="w-100" [hideRequiredMarker]="true">
                    <mat-label>Password</mat-label>
                    <input matInput name="current-password" autocomplete="current-password" [type]="togglePass.type"
                        [minlength]="passwordMinLength" [maxlength]="passwordMaxLength" formControlName="password"
                        required (keydown.enter)="signIn()" />
                    <mat-icon class="primary-color" matPrefix style="margin-right: 5px;">lock</mat-icon>
                    <mat-pass-toggle-visibility #togglePass matSuffix></mat-pass-toggle-visibility>
                    <mat-error *ngIf="signInPasswordFormControl.hasError('required')">
                        This field is required.
                    </mat-error>
                    <mat-error *ngIf="signInPasswordFormControl.hasError('minlength')">
                        Password too short!
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="col-auto p-0 d-flex justify-content-start">
                <button mat-raised-button color="primary" (click)="signIn()">
                    Log in
                </button>
            </div>
        </div>
    </div>
</div>